@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/* slate */
/* storm */
/* cloud */
/* border */
ons-toolbar-button:focus,
button:focus,
.button:focus,
.button[role=button]:focus,
.button[role=link]:focus,
.fab:focus,
ons-card:focus,
.cdpCard:focus {
  box-shadow: 0 0 0 2px #3F93D2 !important;
  outline: none !important;
}
.list-item[tappable]:focus,
.list-item[role=button]:focus,
.list-item[role=link]:focus,
.select-input:focus,
ons-card:focus {
  border: 2px solid #3F93D2 !important;
  outline: none !important;
  margin: 0;
}
.page__background {
  background-color: #fff;
}
.cdp_page_container .cdp_list_container {
  background-color: #DFE9F3;
  position: relative;
  height: 100%;
  padding-bottom: 80vh;
  overflow-y: auto;
}
@keyframes cdp_opactiy-pulse {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.2;
  }
}
.cdpPulseLoader {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
.loaderPlaceholder {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
div.cdpLanding {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
ons-dialog p {
  text-align: center;
}
ons-dialog label {
  font-weight: 700;
  padding-left: 20px;
  color: #26323D;
  opacity: 70%;
}
#password input {
  background-color: #fff;
  padding: 20px;
}
.bold {
  font-weight: 700;
}
.flex-column-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}
.flex-column-buttons .button--large {
  width: 100%;
  min-height: 42px;
}
.flex-column-buttons .button--large:nth-last-child(2) {
  margin: 0 0 10px 0;
}
.button--large {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: unset;
}
button:disabled,
button[disabled],
.button:disabled,
.button[disabled],
ons-button:disabled {
  color: rgba(38, 50, 61, 0.99) !important;
  background-color: rgba(170, 177, 184, 0.5) !important;
  opacity: unset !important;
}
#splitterMenu {
  width: 300px !important;
  background-color: transparent !important;
}
#splitterMenu .page__content,
#splitterMenu .page__background {
  background-color: transparent !important;
}
#splitterMenu #splitterList,
#splitterMenu #servicesList {
  width: 94%;
  float: right;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
#splitterMenu #splitterList ons-list-item,
#splitterMenu #servicesList ons-list-item {
  background-color: #fff;
  color: #26323D;
  cursor: pointer;
}
#splitterMenu #splitterList ons-list-item > div,
#splitterMenu #servicesList ons-list-item > div {
  border-bottom: none;
}
#splitterMenu #splitterList ons-list-item ons-icon,
#splitterMenu #servicesList ons-list-item ons-icon {
  color: #26323D;
  width: 32px;
}
#splitterMenu #splitterList {
  height: 100%;
}
.cdpLanding .toolbar + .page__background {
  top: 0 !important;
}
.cdpLandingbody {
  font-size: 14px;
}
.cdpLanding #appLoading {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cdpLanding #appLoading .hide {
  display: none;
}
.cdpLanding ons-toolbar {
  height: 65px;
  padding: 9px;
}
.cdpLanding ons-toolbar .navBack {
  width: 30px;
}
.cdpLanding .toolbar + .page__background + .page__content {
  top: 65px;
}
.cdpLanding [class*="col"] {
  padding: 0;
}
.cdpLanding .row {
  margin: 0;
}
.cdpLanding .primaryActions .primaryBtn {
  background-color: #00a950;
}
.cdpLanding #homePage .page__content {
  transition: bottom 0.6s ease-in;
}
.cdpLanding #homePage .page__content ons-splitter {
  background-color: #fff;
}
.cdpLanding #homePage .page__content #msgBadge {
  background: #D92C2C;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: none;
  position: absolute;
  bottom: 9px;
  left: 40px;
  border: thin solid #fff;
}
.cdpLanding #homePage .page__content #msgBadge.show {
  display: inline-block;
}
.cdpLanding #homePage .headerBar {
  padding: 9px;
  background: #fff;
  overflow: visible;
  height: 65px;
  margin: 0 auto;
}
.cdpLanding #homePage .headerBar .userProfile {
  font-size: 26px;
}
.cdpLanding #homePage .headerBar .userProfile,
.cdpLanding #homePage .headerBar .addTiles,
.cdpLanding #homePage .headerBar .addItem {
  color: #000;
}
.cdpLanding #homePage .headerBar h1 {
  color: #b4c3d2;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
}
.cdpLanding #homePage .headerBar h2 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin: 0;
  text-align: center;
  transition: font-size 1s ease;
}
.cdpLanding #homePage .headerBar.balance {
  height: 65px;
}
.cdpLanding #homePage .headerBar.balance h1 {
  font-weight: bold;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cdpLanding #homePage .headerBar.balance h2 {
  font-size: 32px;
  line-height: 32px;
}
.cdpLanding #homePage .headerBar.balance div:last-child {
  text-align: right;
}
.cdpLanding #homePage .headerBar #imgToolbar {
  width: 44px;
  height: 44px;
}
.cdpLanding #homePage.AccountListFullView #tmpTiles {
  display: none;
}
.cdpLanding .tileContainer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.cdpLanding .tileContainer .card {
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}
.cdpLanding .sortableGhost {
  opacity: 0.5;
  background: #C8EBFB;
  border: dashed;
  border-radius: 6px;
}
.cdpLanding .toast--toastEdit {
  position: fixed;
  left: 0;
  right: 0;
  top: 128px !important;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 30px;
  background-color: #00a950;
  opacity: 0.85;
}
.cdpLanding .toast--toastEdit__message {
  margin: 0;
  text-align: center;
}
.cdpLanding.editPage .openTile {
  display: none;
}
.cdpLanding #btnCloseMove,
.cdpLanding #btnCloseAcctList {
  background-color: #00a950;
  color: #fff;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.15);
  position: fixed;
}
.cdpLanding #btnCloseMove.hide,
.cdpLanding #btnCloseAcctList.hide {
  display: none;
}
.cdpLanding #cardActions ons-icon {
  width: 50px;
}
.cdpLanding #btnCloseMove .ion-close {
  vertical-align: 0;
}
.cdpLanding .action-sheet-button {
  text-align: left;
  padding-left: 16px;
}
.cdpLanding.ios .action-sheet div .action-sheet-button:last-of-type,
.cdpLanding.ios .action-sheet div .action-sheet-button:first-child {
  border-radius: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.cdpLanding #CardResizeContainer {
  opacity: 0.9;
  position: fixed;
  bottom: -275px;
  left: 0;
  right: 0;
  transition: bottom 0.6s ease-in-out;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.cdpLanding #CardResizeContainer ons-list {
  border-radius: 8px;
}
.cdpLanding #CardResizeContainer ons-list ons-list-item {
  white-space: nowrap;
}
.cdpLanding #CardResizeContainer.show {
  bottom: 94px;
}
.cdpLanding .cdp_hero {
  background-color: transparent;
  align-items: inherit;
  max-height: none;
  padding: 0;
}
.cdpLanding #tmpHero.fullScreen {
  height: 100% !important;
  overflow-y: scroll;
}
.cdpLanding #tmpHero.fullScreen #swipeDownContainer,
.cdpLanding #tmpHero.fullScreen .carouselNav,
.cdpLanding #tmpHero.fullScreen #acctSwipeDown {
  display: none;
}
.cdpLanding #tmpHero #AccountListRetryContainer,
.cdpLanding #tmpHero #FavoriteRetryContainer {
  position: relative;
  color: #000;
  text-align: center;
  padding: 20px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cdpLanding #tmpHero #AccountListRetryContainer ons-icon,
.cdpLanding #tmpHero #FavoriteRetryContainer ons-icon {
  font-size: 18px;
}
.cdpLanding #tmpHero #AccountListRetryContainer span,
.cdpLanding #tmpHero #FavoriteRetryContainer span {
  padding: 0 9px;
  vertical-align: top;
}
.cdpLanding #tmpHero #AccountListRetryContainer .retryMsg,
.cdpLanding #tmpHero #FavoriteRetryContainer .retryMsg {
  font-size: 18px;
  padding: 18px;
  color: #26323D;
}
.cdpLanding #tmpHero.loading {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
.cdpLanding #tmpHero #acctContainer {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.cdpLanding #tmpHero #acctContainer .acctChartContainer {
  padding-top: 38px;
}
.cdpLanding #tmpHero #acctContainer .acctChartContainer #no-data {
  color: black;
  display: none;
  text-align: center;
  font-size: 20px;
  padding-top: 10%;
}
.cdpLanding #tmpHero #swipeDownContainer {
  background-color: #fff;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav {
  background-color: #fff;
  position: relative;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav ol {
  padding-inline-start: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 23px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-clip: padding-box;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav li:focus {
  outline: none !important;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav li:focus span {
  box-shadow: 0 0 0 2px #3F93D2 !important;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav li.active span {
  background-color: #00a950;
}
.cdpLanding #tmpHero #swipeDownContainer .carouselNav li span {
  background-color: #DFE9F3;
  margin-top: 10px;
  width: 30px;
  height: 3px;
  display: block;
}
.cdpLanding #tmpHero #swipeDownContainer #acctSwipeDown {
  height: 17px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 10px;
  z-index: 999;
}
.cdpLanding #tmpHero #swipeDownContainer #acctSwipeDown span {
  background-color: #DFE9F3;
  width: 25%;
  height: 4px;
  border-radius: 8px;
  display: inline-block;
}
.cdpLanding #tmpHero #FullScreenAcctHeader {
  display: none;
  padding-bottom: 10px;
  margin: 0 auto;
}
.cdpLanding #tmpHero #FullScreenAcctHeader span {
  color: #AAB1B8;
  text-transform: uppercase;
  line-height: 42px;
}
.cdpLanding #tmpHero #FullScreenAcctHeader ons-button {
  background-color: transparent;
  float: right;
}
.cdpLanding #tmpHero #FullScreenAcctHeader ons-button ons-icon {
  font-size: 18px;
  color: #AAB1B8;
}
.cdpLanding #tmpHero #acctContainer.desktop {
  height: 434px;
  transition: height 0.2s ease-in-out;
}
.cdpLanding #tmpHero #acctContainer.desktop .acctList {
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  height: 370px;
}
.cdpLanding #tmpHero #acctContainer.desktop .acctList .accountCard {
  margin: 10px;
  width: 315px;
  height: 163px;
}
.cdpLanding #tmpHero #acctContainer.native {
  height: 190px;
}
.cdpLanding #tmpHero #acctContainer.native ons-list {
  background-image: none;
}
.cdpLanding #tmpHero #acctContainer.native.closed {
  transition: height 0.2s ease-in-out;
  height: 0;
}
.cdpLanding #tmpHero #acctContainer.native.closed .acctChartContainer {
  visibility: hidden;
}
.cdpLanding #tmpHero #acctContainer.native #balanceHeader {
  text-align: center;
  position: relative;
}
.cdpLanding #tmpHero #acctContainer.native #balanceHeader h1 {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #b4c3d2;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 9px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.cdpLanding #tmpHero #acctContainer.native #balanceHeader h2 {
  font-size: 28px;
  line-height: 28px;
  color: #000;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.cdpLanding #tmpHero #acctContainer.native .acctList {
  background-image: none;
  display: flex;
  flex-flow: column;
}
.cdpLanding #tmpHero #acctContainer.native .acctList.is-animating {
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
}
.cdpLanding #tmpHero #acctContainer.native.fullScreen {
  height: 100%;
  overflow-y: scroll;
  transition: height 0.2s ease-in-out;
}
.cdpLanding #tmpHero #acctContainer.native.fullScreen #FullScreenAcctHeader {
  display: block;
}
.cdpLanding.native #tmpHero {
  background-color: #fff;
}
.cdpLanding.native #homePage .cdp_hero #tmpHero {
  height: 230px;
  transition: height 0.7s linear;
}
.cdpLanding.native #homePage .cdp_hero #tmpHero #acctContainer {
  transition: height 0.7s linear;
}
.cdpLanding.native #homePage .cdp_hero #tmpHero #acctSwipeDown {
  position: relative;
}
.cdpLanding.native #homePage.shrink .cdp_hero #tmpHero {
  height: 165px;
  min-height: unset;
}
.cdpLanding.native #homePage.shrink .cdp_hero #tmpHero #acctContainer {
  height: 125px;
}
.cdpLanding.native #homePage.shrink .cdp_hero .accountCard {
  min-height: unset;
}
.cdpLanding.native #homePage.shrink .cdp_hero .accountCard .cardBody {
  display: none;
}
.cdpLanding.native #swipeDownContainer {
  height: 40px;
}
.cdpLanding #tmpTiles {
  padding-top: 18px;
  padding-bottom: 60vh;
  margin: 0 auto;
}
.cdpLanding #tmpTiles.loading {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
  height: 100%;
}
.cdpLanding #tmpTiles #TilesHeaderContainer {
  margin: 0 auto;
}
.cdpLanding #tmpTiles #TilesHeaderContainer span {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-left: 9px;
}
.cdpLanding #tmpTiles #TilesHeaderContainer ons-button {
  background-color: transparent;
  float: right;
  height: 26px;
  line-height: 26px;
  padding-top: 0;
}
.cdpLanding #tmpTiles #TilesHeaderContainer ons-button ons-icon {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.cdpLanding #accountCatalogPage .catalogContainer,
.cdpLanding #catalogPage .catalogContainer {
  width: 335px;
  margin: 0 auto;
}
.cdpLanding #accountCatalogPage .catalogContainer.accountList,
.cdpLanding #catalogPage .catalogContainer.accountList {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
.cdpLanding.desktop #tmpHero {
  height: 434px;
}
.cdpLanding.desktop #tmpHero.moving #acctContainer {
  height: 100%;
  transition: height 0.2s ease-in-out;
}
.cdpLanding.desktop #tmpHero.moving #acctContainer .navButton,
.cdpLanding.desktop #tmpHero.moving #acctContainer .carouselNav {
  display: none;
}
.cdpLanding.desktop #tmpHero #btnViewAllAccts {
  height: 26px;
  background-color: transparent;
  color: #26323D;
  text-decoration: underline;
  padding: 0;
}
.cdpLanding.desktop #tmpHero #btnViewAllAccts:hover {
  cursor: pointer;
}
.cdpLanding.desktop #viewAccountsPage #myAcctsListItemsContainer {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 50vh;
}
.cdpLanding.desktop #viewAccountsPage .chartCarousel {
  display: none !important;
}
.cdpLanding.desktop #viewAccountsPage .acctList {
  margin: 0px auto;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 18px;
}
.cdpLanding.desktop #viewAccountsPage ons-fab {
  background-color: #00a950;
}
.cdpLanding.desktop #viewAccountsPage ons-toolbar ons-toolbar-button {
  color: #000;
}
.cdpLanding.desktop #homePage .cdp_hero {
  height: 434px;
  transition: height 1s;
}
.cdpLanding.desktop #homePage.shrink .cdp_hero {
  transition: height 1s;
  height: 184px;
}
.cdpLanding.desktop #homePage.shrink .cdp_hero #tmpHero #acctContainer {
  height: 184px;
}
.cdpLanding.desktop #homePage.shrink .cdp_hero .accountCard {
  min-height: unset;
}
.cdpLanding.desktop #homePage.shrink .cdp_hero .accountCard .cardBody {
  display: none;
}
.fa-text {
  margin-left: 5px;
}
.add-service-card {
  width: 90%;
  padding: 2.5%;
  margin: 5% auto;
  font-size: 16px;
  max-width: 1200px;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.12);
}
.sup-currency {
  font-size: 0.7em;
  top: -0.3em;
}
@media only screen and (min-width: 1155px) {
  #tmpTiles {
    width: 1005px;
  }
  .headerBar {
    width: 1155px;
  }
  .desktop .acctList {
    width: 1005px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 1154px) {
  #tmpTiles {
    width: 670px;
  }
  .headerBar {
    width: 85%;
    min-width: 670px;
  }
  .desktop .acctList {
    width: 670px;
  }
}
@media only screen and (max-width: 772px) {
  #tmpTiles {
    width: 335px;
  }
  .headerBar {
    width: 85%;
    min-width: 335px;
  }
  .desktop #chevronContainer {
    width: 335px;
    margin-left: -168px;
  }
  .desktop .acctList {
    width: 335px;
  }
}
@media only screen and (max-width: 320px) {
  #tmpTiles .headerBar {
    width: 320px;
  }
  .desktop .acctList {
    width: 320px;
  }
}
ons-card {
  overflow: hidden;
  position: relative;
}
ons-card .fa-ellipsis-v,
ons-card .fa-arrows {
  color: #fff;
  font-size: 26px;
}
ons-card .cardHeader {
  color: #fff;
  padding: 9px;
  position: relative;
  display: flex;
}
ons-card .cardHeader h1,
ons-card .cardHeader h2,
ons-card .cardHeader h3,
ons-card .cardHeader h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  margin: 0;
}
ons-card .cardHeader h1 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
ons-card .cardHeader h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  width: 94%;
}
ons-card .cardHeader h3,
ons-card .cardHeader h4 {
  font-size: 12px;
}
ons-card .cardHeader .openTile {
  position: absolute;
  right: 16px;
  top: 39%;
}
ons-card .cardHeader .openTile i {
  font-size: 24px;
}
ons-card .cardHeader .sub-title {
  letter-spacing: 0.5px;
}
ons-card .cardHeader .sub-title-alternate {
  font-weight: 900;
  letter-spacing: 0.5px;
}
ons-card .cardHeader .headerContainer {
  width: 65%;
}
ons-card .cardHeader .headerContainer.noImage {
  width: 100%;
}
ons-card .cardHeader .imageContainer {
  margin: -16px 0;
  width: 32%;
}
ons-card .cardHeader .imageContainer .headerImage {
  width: 100%;
  height: 100%;
}
ons-card .cardBody ons-list {
  background-image: none;
}
ons-card .cardBody ons-list ons-list-item .centerImage {
  width: 120px;
}
ons-card .cardBody ons-list .calloutContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
ons-card.default {
  background-color: #00a950;
}
ons-card.accountCard {
  border-radius: 8px;
  font-size: 18px;
  margin: 16px;
  min-height: 160px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}
ons-card.accountCard .cardHeader {
  padding: 24px;
}
ons-card.accountCard .cardHeader .headerContainer {
  width: 100%;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber {
  height: 27px;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber span {
  line-height: 20px;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber .nick-name,
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber .sub-title-alternate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber .nick-name {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  text-overflow: ellipsis;
  max-width: 70%;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber .sub-title-alternate {
  text-transform: uppercase;
  color: #b4c3d2;
  max-width: 30%;
}
ons-card.accountCard .cardHeader .headerContainer .accountNameNumber .card-number {
  font-size: 13px !important;
  font-weight: bold;
  margin-left: 8px;
}
ons-card.accountCard .cardHeader .headerContainer .balance-item {
  color: #000;
  display: block;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.5px;
  margin-top: 4px;
  height: 26px;
}
ons-card.accountCard .cardBody {
  background-color: rgba(223, 233, 243, 0.5);
  border-top: solid 1px #DFE9F3;
  height: 58px;
}
ons-card.accountCard .cardBody .meta-field {
  position: relative;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  width: 50%;
  overflow: hidden;
}
ons-card.accountCard .cardBody .meta-field:nth-child(2) {
  border-left: solid 1px #DFE9F3;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock {
  position: relative;
  display: inline-block;
  background-color: #00a950;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  margin-right: 9px;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock.calloutImg {
  background-color: transparent;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock.calloutImg img {
  width: 25px;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock.calloutIcon {
  min-width: 26px;
  height: 26px;
  line-height: 26px;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock.calloutIcon ons-icon {
  font-size: 14px;
}
ons-card.accountCard .cardBody .meta-field .calloutBlock.calloutText {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 26px;
  min-width: 26px;
  max-width: 53px;
  padding: 0 5px;
}
ons-card.accountCard .cardBody .meta-field .preview-label {
  position: relative;
  display: inline-block;
  color: #b4c3d2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 90%;
  line-height: 11px;
  font-size: 11px;
  letter-spacing: 0.5px;
  margin-bottom: -5px;
}
ons-card.accountCard .cardBody .meta-field .preview-label:only-child {
  line-height: 51px;
}
ons-card.accountCard .cardBody .meta-field .preview-value {
  position: relative;
  display: block;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 11px;
  font-size: 11px;
  letter-spacing: 0.5px;
}
ons-card.accountCard .cardBody .meta-field .preview-value:only-child {
  line-height: 51px;
}
ons-card.accountCard .cardBody .meta-field .previewContainer {
  display: inline-block;
  font-weight: bold;
  position: relative;
  width: 80%;
  height: 58px;
  padding: 5px;
  line-height: 20pt;
}
ons-card.acctPreviewCard {
  min-height: auto;
}
ons-card.acctPreviewCard .card-number,
ons-card.acctPreviewCard .nick-name,
ons-card.acctPreviewCard .balance-item {
  width: 80%;
  height: 20px;
  max-width: 80% !important;
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
ons-card.acctPreviewCard .cardBody .calloutIcon {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
ons-card.acctPreviewCard .cardBody .calloutText {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
  min-height: 20px;
}
ons-card.acctPreviewCard .cardBody .preview-label,
ons-card.acctPreviewCard .cardBody .preview-value {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
  height: 20px;
  width: 90%;
}
.cdpTile {
  position: relative;
  overflow: hidden;
}
.cdpTile.tileSortSelected {
  transform: skew(4deg, -4deg);
}
.cdpTile.tileSortSelected ons-card {
  left: 0;
}
.cdpTile.tileSortSelected .HideContainer,
.cdpTile.tileSortSelected .ActionContainer {
  display: none;
}
.cdpTile.sortableGhost .HideContainer,
.cdpTile.sortableGhost .ActionContainer {
  display: none;
}
.cdpTile .loader .DismissItemContainer,
.cdpTile .loader .HideContainer,
.cdpTile .loader .ActionContainer {
  display: none;
}
.cdpTile .loader ons-card {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
.cdpTile .loader ons-card .cardHeader {
  background-image: none !important;
}
.cdpTile .loader ons-card h1 {
  color: #26323D !important;
}
.cdpCard {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}
.cdpCard ons-card {
  margin: 0;
}
.iconCard {
  width: 167px;
}
.iconCard ons-card {
  height: 150px;
}
.iconCard ons-card .cardHeader {
  text-align: center;
  padding: 0;
  height: 75%;
  position: relative;
  overflow: hidden;
}
.iconCard ons-card .cardHeader img {
  width: 75px;
  height: 75px;
}
.iconCard ons-card .cardBody {
  background-color: inherit;
  height: 25%;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 16px 16px;
}
.iconCard ons-card .cardBody h1 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: unset;
}
.summaryCard {
  width: 335px;
}
.summaryCard ons-card {
  min-height: 90px;
}
.summaryCard ons-card .cardHeader {
  padding: 16px;
}
.summaryCard ons-card .cardBody {
  padding: 0;
  height: 0;
}
.summarylistCard {
  width: 335px;
}
.summarylistCard ons-card {
  min-height: 180px;
}
.summarylistCard ons-card .cardHeader {
  padding: 16px;
}
.summarylistCard ons-card .cardBody {
  height: 128px;
}
.acctPreviewCard2 {
  width: 100%;
}
.acctPreviewCard2 .cdpCard {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}
.acctPreviewCard2 .fadeLeft,
.acctPreviewCard2 .fadeRight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 48px;
}
.acctPreviewCard2 .fadeLeft {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 100%);
}
.acctPreviewCard2 .fadeRight {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 100%);
}
.acctPreviewCard2 .loading #balanceHeader h1,
.acctPreviewCard2 .loading #balanceHeader h2 {
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
  margin: 0 auto !important;
}
.acctPreviewCard2 .loading #balanceHeader h1 {
  height: 20px;
  width: 200px;
  margin-bottom: 9px !important;
}
.acctPreviewCard2 .loading #balanceHeader h2 {
  height: 32px;
  width: 150px;
}
.acctPreviewCard2 .loading .acctChartContainer {
  padding-top: 0 !important;
  margin-top: 32px !important;
  background: #b4c3d2;
  animation: cdp_opactiy-pulse 1.75s infinite alternate;
  border-radius: 4px;
}
.acctPreviewCard1,
.acctPreviewCard3 {
  width: 335px;
  margin: 0 auto;
}
.iconCardTransition {
  width: 167px !important;
  display: inline-block;
  opacity: 0.3;
  border-radius: 10px;
}
.iconCardTransition .cardHeader {
  height: 150px;
}
.iconCardTransition .cardBody {
  height: 0;
  padding: 0;
}
.iconCardTransition ons-card {
  height: 150px;
}
.iconCardTransition ons-card > * {
  visibility: hidden;
}
.summaryCardTransition {
  width: 335px !important;
  opacity: 0.3;
}
.summaryCardTransition ons-card {
  height: 115px;
}
.summaryCardTransition ons-card > * {
  visibility: hidden;
}
.summarylistCardTransition {
  width: 335px !important;
  opacity: 0.3;
}
.summarylistCardTransition ons-card {
  height: 226px !important;
}
.summarylistCardTransition ons-card .cardHeader {
  height: 106px;
}
.summarylistCardTransition ons-card .cardBody {
  height: 162px;
}
.summarylistCardTransition ons-card > * {
  visibility: hidden;
}
@media only screen and (max-width: 400px) {
  .nick-name {
    max-width: 60%;
  }
  .sub-title-alternate {
    max-width: 40%;
  }
}
.cdp_hero {
  flex-shrink: 0;
}
